body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
  word-wrap:break-all;
}


.text-div {
white-space:initial;
}
